<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <h1 class="header">forgot</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet culpa dignissimos doloremque earum eos
        error fuga ipsum iure magnam necessitatibus nesciunt nulla quibusdam repudiandae sequi similique, unde vitae
        voluptate voluptatum. Aliquid aut, eos esse ex, impedit in nihil odio quo quod reprehenderit tempora
        voluptatibus. Adipisci aut beatae cum, dolorem dolorum error est excepturi fugiat id illum, ipsum magni modi
        natus odit optio placeat possimus quaerat quasi quo recusandae repellendus similique ullam velit! Adipisci
        aliquam aut delectus deleniti ipsam iusto minus nemo nulla obcaecati perferendis provident qui rerum sapiente
        sed sequi, veritatis voluptas voluptate. Dignissimos illum sit totam voluptas?</p>
    <a href="{{frontUrl}}/password/forgot?token={{token}}"> CLICK TO RESTORE YOUR PASSWORD </a>
    <div class="footer"></div>
</div>

</body>
</html>
